.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0;
  margin-left: 1rem;
}

.navbar-collapse.collapse.show .nav-link,
.navbar-collapse.collapsing .nav-link {
  margin-top: 0.5rem;
}

.navbar {
  padding: 1.2rem 1rem;
}

li {
  margin-top: 0.4rem;
}
